// Reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

// Code
$layoutWidth: 1186px;

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-VariableFont_wght.ttf") format("ttf");
}

@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/NunitoSans.ttf") format("ttf");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter.ttf") format("ttf");
}

@font-face {
  font-family: "Circe";
  src: url("/fonts/Circe-Bold.ttf") format("ttf");
}

.container{
  width: $layoutWidth;
  margin: 0 auto;
}

.header__nav{
  display: flex;
  justify-content: space-between;
  padding-top: 53px;
}

.header__left-wrap{
  display: flex;
  gap: 79px;
  align-items: center;
}

.logo__text{
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #FFFFFF;
}

.logo__primary-text{
  color: #ffba6e;
}

.menu{
  display: flex;
  list-style: none;
  gap: 64px;
}

.header__menu-item{
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #ffffff;
}

.header__phone{
  display: flex;
  align-items: center;
}

.header__phone-img{
  margin-right: 12px;
  width: 24px;
  height: 24px;
}

.header__phone-text{
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  color: #000000;
  text-decoration: none;
}

// First screen

.main__section{
  background-image: url('/img/Group3.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 874px;
  width: 100%;
}

.main__screen-content--wrap{
  padding-top: 111px;
}

.main__screen-content--title{
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 48px;
  color: #ffffff;
  max-width: 554px;
}

.main__screen-content--description-wrap{
  display: flex;
  height: 96px;
  margin-bottom: 101px;
  align-items: center;
}

.main__screen-content--rectangle{
  margin-right: 30px;
  width: 70px;
  height: 4px;
  background: #FFBA6E;
}

.main__screen-content--description{
  font-family: "Inter", sans-serif;
  margin-top: 66px;
  color: #ffffff;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 0.5px;
  width: 400px;
}

.main__screen-btn{
  font-family: "NunitoSans", sans-serif;
  border-radius: 8px;
  background-color: #FFBA6E;
  color: #ffffff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  padding: 21px 30px;
  text-decoration: none;
}

// Help section
.help__section{
  margin-top: 121px;
  display: flex;
  gap: 95px;
}

.help__section-img{
  width: 605px;
  height: 717px;
}

.help__section-content{
  width: 514px;
}

.help__section-title{
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px; /* 146.875% */
  letter-spacing: 1.5px;
  text-transform: uppercase;

}

.help__section-text{
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 160% */
  letter-spacing: 0.5px;
  margin-top: 31px;
}

.help__section-btn{
  border-radius: 8px;
  background: #40AB91;
  display: flex;
  padding: 21px 30px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  font-family: "NunitoSans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

// Calc

.calculator__section{
  margin-top: 159px;
}

.calculator__section_bg{
  width: 605px;
  height: 670px;
  background: #40AB91;
  position: absolute;
  right: 0;
  z-index: -1;
}

.calculator__section-title{
  color: #000000;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px; /* 146.875% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 49px;
}

.calculator__section-wrap{
  display: flex;
  gap: 40px;
  width: 1170px;
  margin: 0 auto;
  padding: 64px 140px 52px 140px;
  border-radius: 24px 184px 24px 24px;
  background: #FFFFFF;
  margin-top: 45px;
  box-shadow: 0px 5px 0px 0px #FFBA6E inset, 0px 6px 5px 0px rgba(0, 0, 0, 0.04), 0px 12px 20px 0px rgba(0, 0, 0, 0.04), 0px 12px 12px 0px rgba(0, 0, 0, 0.04), 0px 12px 12px 0px rgba(0, 0, 0, 0.10);
}

.calculator__section-header{
  display: flex;
  width: 536px;
  align-items: center;
  justify-content: space-between;
}

.calculator__section-main--block{
  width: 536px;
  border-radius: 4px;
  border: 1px solid #E7E8EA;
  padding: 25px;
  margin-top: 20px;
}

.calculator__section-header--title{
  color: rgba(0, 0, 0, 0.80);
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 127.273% */
}

.calculator__section-header--steps{
  color: rgba(0, 0, 0, 0.80);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 160% */
}

.calculator__section-subheader{
  color: rgba(0, 0, 0, 0.54);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.calculator__section-sum{
  color: rgba(0, 0, 0, 0.80);
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
}

#calc_sum{
  margin-top: 5.5px;
}

.calculator__section-range{
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-top: 25.5px;
}

//
#radius,
#radius-2 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 18px;
  border: none;
  border-radius: 4px;
  overflow: hidden;
}

#radius::-webkit-slider-thumb,
#radius-2::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  //background-color: #FFBA6E;
  background-color: #ffffff;
  border: 3px solid #FFBA6E;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin-top: -7px;
  box-shadow: calc(-100vmax - 16px) 0 0 100vmax #FFBA6E;
  clip-path: polygon(
                  100% 0,
                  2px 0,
                  0 7px,
                  -100vmax 7px,
                  -100vmax 11px,
                  0 11px,
                  2px 100%,
                  100% 100%
  );
}

#radius::-moz-range-thumb,
#radius-2::-moz-range-thumb {
  -moz-appearance: none;
  appearance: none;
  background-color: #FFBA6E;
  border: 0px solid #FFBA6E;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  margin-top: -7px;
}

#radius::-webkit-slider-runnable-track,
#radius-2::-webkit-slider-runnable-track {
  height: 4px;
  border-radius: 4px;
  border: 0px solid #EAECEE;
  box-shadow: 0px 0px 0px #EAECEE;
  background: #EAECEE;
}
//

.calculator__section-range--labels{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.calculator__section-range--label{
  color: rgba(0, 0, 0, 0.40);
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
}

.calculator__section-range--labels_date{
  width: 60%;
}

.calculator__section-term--wrap{
  margin-top: 36px;
  display: flex;
  justify-content: space-between;
  gap: 68px;
}

.calculator__section-date{
  margin-top: 11.5px;
}

.calculator__section-credit--term{
  width: 40%;
}

#totalSum{
  margin-top: 12px;
}

@media screen and (max-width: 1440px){
  .calculator__section-wrap{
    width: 70%;
  }
}

.calculator__section-payment{
  width: 209px;
}

.calc_target{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 8px;
  border: 1px solid #ECF1F7;
  background: #ECF1F7;
  padding: 9px 16px;
  width: 100%;

  margin-top: 21px;
  margin-bottom: 21px;

  color: rgba(0, 0, 0, 0.54);
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 171.429% */

  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="12" height="7" viewBox="0 0 12 7" fill="none"> <path d="M1.70704 0.292919C1.51844 0.110761 1.26584 0.00996641 1.00364 0.0122448C0.741443 0.0145233 0.490631 0.119692 0.305223 0.3051C0.119815 0.490508 0.0146453 0.741321 0.0123669 1.00352C0.0100885 1.26571 0.110883 1.51832 0.293041 1.70692L4.58704 6.00092C5.36804 6.78192 6.63004 6.78392 7.41304 6.00092L11.707 1.70692C11.8892 1.51832 11.99 1.26571 11.9877 1.00352C11.9854 0.741321 11.8803 0.490508 11.6949 0.3051C11.5095 0.119692 11.2586 0.0145233 10.9964 0.0122448C10.7342 0.00996641 10.4816 0.110761 10.293 0.292919L6.00004 4.58592L1.70704 0.292919Z" fill="black" fill-opacity="0.4"/> </svg>');
  background-repeat: no-repeat;
  background-position-x: 99%;
  background-position-y: 50%;
}

.calculator__contact_fio_wrap{
  background: #ECF1F7;
  border-radius: 8px;
  border: 1px solid #ECF1F7;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 21px;
}

.calculator__contact_fio_input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  background: none;

  color: rgba(0, 0, 0, 0.54);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  width: 70%;

  margin: 9px auto 9px 16px;
}

.calculator__contact_fio_label{
  padding: 2px 8px;
  border-radius: 20px;
  background: #40AB91;
  color: #FFFFFF;

  font-family: "Roboto", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.4px;
  display: flex;
  align-items: center;

  margin: 9px 16px 9px auto;

}

.calc__fields_wrap{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-top: 22px;
}

.calc_field{
  color: rgba(0, 0, 0, 0.54);
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  padding: 9px 16px;
  border-radius: 8px;
  border: 1px solid #ECF1F7;
  background: #ECF1F7;
  width: 100%;
}

.calc__footer{
  margin-top: 33px;
}

.calc__footer hr{
  margin-bottom: 24px;
  border: 1px solid #EAECEE;
  box-shadow: none;
}

.calc__footer-content--wrap{
  display: flex;
  gap: 70px;
  align-items: center;
}

.calc__footer-text{
  width: 189px;
  color: rgba(0, 0, 0, 0.40);
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 153.846% */
}

.calc__footer-link{
  color: #336FEE;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  text-decoration: none;
}

.calc__footer_btn{
  margin-top: 0;
  padding: 21px 30px;
}

.calc__res_title{
  margin-top: 32px;
}

.calc_res__progress_bar{
  display: flex;
  margin-top: 8px;
}

.calc_res_bar__current{
  height: 8px;
  width: 5%;
  background: #40AB91;
  border-radius: 4px 0px  0px 4px;
}

.calc_res_bar__plus{
  width: 55%;
  height: 8px;
  background: rgba(0, 185, 45, 0.24);
}

.calc_res_bar__place{
  height: 8px;
  width: 45%;
  border-radius: 0px 4px  5px 0px;
  background: #F6F7F8;
}

.calc__plus_label{
  margin-top: 8px;
}

// Steps

.steps__title{
  margin-top: 130px;
  margin-bottom: 40px;
}

.steps__wrap{
  display: flex;
  gap: 5px;
  margin-bottom: 47px;
}

.step{
  border-radius: 10px 60px 10px 10px;
  display: grid;
  justify-content: center;
  padding: 23px 39px;
}

.step_num{
  color: #FFFFFF;
  font-family: "Arial", sans-serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 45px; /* 93.75% */
  margin-bottom: 27px;
}

.step_num-black{
  color: #161616!important;
}

.step_title{
  color: #FFFFFF;
  font-family: "Circe", sans-serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 118.182% */
  margin-bottom: 69px;
}

.step_title-gray{
  margin-bottom: 15px;
}

.step_description{
  color: #F5F5F5;
  font-family: "Arial", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 32px;
}

.step_done{
  background-color: #40AB91;
  padding: 11px 10px;
  border-radius: 100%;
  display: flex;
  justify-self: end;
}

.step__white{
  border: 2px solid #C1C1C1;
  background-color: #FFFFFF;
}

.step__gray{
  background-color: #4C504B;
}

.step__violet{
  background-color: #3F3445;
}

.step__green{
  background-color: #40AB91;
}

.step__orange{
  background-color: #FFBA6E;
}

.steps_btn{
  width: 277px;
  text-transform: uppercase;
}

// Wait

.wait{
  background: #40AB91;
  margin-top: 130px;
  padding-bottom: 98px;
}

.wait_title{
  color: #FFFFFF;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px; /* 146.875% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding-top: 98px;
  padding-bottom: 43px;
}

.wait_table-raw{
  display: flex;
}

.wait_table-header--item{
  background: #C9FFF2;

  width: 232px;
  height: 54px;

  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 47px; /* 235% */
  letter-spacing: 1.5px;
  padding: 3px 21px;
}

.wait_table-header--item:not(:last-child){
  border-right: 2px solid #D1D1D1;
}

.wait_table-item{
  background: #FFF;

  width: 232px;
  height: 207px;

  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px; /* 137.5% */
  letter-spacing: 1.5px;

  padding: 10px 21px;
}

.wait_table-item:not(:last-child){
  border-right: 2px solid #D1D1D1;
}

.wait_table-raw:not(:last-child) .wait_table-item{
  border-bottom: 2px solid #D1D1D1;
}

.wait_stage-wrap{
  display: flex;
  gap: 9px;
  margin-top: 35px;
}

.wait_stage-item{
  width: 40px;
  height: 9px;
  border-radius: 100px;
}

.wait_terms-item:not(:last-child){
  margin-bottom: 17px;
}

.wait_terms-title{
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px; /* 137.5% */
  letter-spacing: 1.5px;
}

.wait_terms-value{
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  letter-spacing: 1.5px;
}

// Программы
.programs_header{
  padding-top: 130px;
  display: flex;
  justify-content: space-between;
}

.programs_title{
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px; /* 146.875% */
  letter-spacing: 1.5px;
  text-transform: uppercase;
  margin-top: 130px;
  margin-bottom: 40px;
}

.programs_selector{
  display: flex;
  gap: 45px;
}

.programs_selector-item{
  color: #A0A0A0;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 47px; /* 235% */
  letter-spacing: 1.5px;
  text-decoration-line: underline;
  cursor: pointer;
}

.programs_selector .active{
  color: #40AB91;
}

.programs_wrap{
  margin-top: 40px;
  display: flex;
  gap: 23px;
}

.program{
  padding-bottom: 130px;
}

.program_header{
  border-radius: 20px 50px 20px 20px;
  border: 1px solid #9A9A9A;
  background: #F2F2F2;
  padding: 28px 26px;
}

.program_title{
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 133.333% */
}

.program_bid{
  color: #40AB91;
  font-family: "Inter", sans-serif;
  font-size: 37.5px;
  font-style: normal;
  font-weight: 600;
  line-height: 45px; /* 120% */
  display: flex;
  gap: 21px;
  align-items: center;
}

.program_bid_old{
  color: #757575;
  font-family: "Inter", sans-serif;
  font-size: 21.5px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 162.791% */
  text-decoration-line: line-through;
}

.program_terms{
  display: grid;
  grid-gap: 10px;
}

.program_term_title{
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 22.5px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 155.556% */
}

.program_term{
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.program_term:before{
  content: "";
  border-radius: 9999px;
  background: #52A516;
  display: inline-block;
  margin-right: 10px;
  width: 7.5px;
  height: 7.5px;
  margin-bottom: 3.75px;
}

.program_body{
  display: grid;
  grid-row-gap: 40px;
  border-right: 1px solid #9A9A9A;
  border-left: 1px solid #9A9A9A;
  border-bottom: 1px solid #9A9A9A;
  border-radius: 0 0px 20px 20px;
  position: relative;
  top: -17px;
  padding: 35px 26px 26px 26px;
}

.program_item{
  display: grid;
}

.program_item-title{
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 150% */
}

.program_item-price{
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px; /* 150% */
}

.program_item-subtitle{
  color: #757575;
  font-family: "Inter", sans-serif;
  font-size: 17.5px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 142.857% */
}

.program_item-insurance{
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px; /* 133.333% */
  margin-top: 11px;
  margin-bottom: 10px;
}

.program_btn{
  margin-top: 26px;
}

.coop{
  background: #40AB91;
  padding-bottom: 97px;
}

.coop_wrap{
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 25px;
}

.coop_item{
  border-radius: 10px 30px 10px 10px;
  border: 1px solid #D9D9D9;
  background: var(--COLOR-Grey_0, #FBFCFD);
  box-shadow: 0px 0px 40px 0px rgba(1, 165, 163, 0.15);
  display: flex;
  align-items: center;
  justify-content: center;
}

// History
.history{
  margin-bottom: 130px;
}

.history_wrap{
  display: flex;
  gap: 118px;
}

.history_btns{
  display: flex;
  gap: 8px;
}

.history_btn svg{
  padding: 24px;
  border-radius: 64px;
  background: #F2F4F8;
}

.history_slider_wrap{
  padding: 44px 29px;
  border-radius: 20px 50px 20px 20px;
  border: 1px solid #9A9A9A;
  background: #FFF;
}

.history_text{
  color: #10273D;
  font-family: "Inter", sans-serif;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px; /* 152.632% */
}

.history_author-wrap{
  display: flex;
  flex-direction: column;
}

.history_author{
  color: #10273D;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  margin-top: 70px;
}

.history_job{
  color: rgba(16, 39, 61, 0.50);
  font-family: "Inter", sans-serif;
  font-size: 13.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.84px; /* 118.209% */
  letter-spacing: 0.288px;
}

// Footer

footer {
  background: #F6F6F6;
  padding: 62px;
}

footer .logo__text{
  color: #40AB91;
}

.footer_header-wrap{
  display: flex;
  gap: 140px;
}

.footer_header-wrap:not(:last-child){
  margin-bottom: 113px;
}

footer .container .footer_header-wrap:nth-child(2){
  gap: 86px;
}

.footer_menu{
  display: flex;
  gap: 44px;
}

.footer_menu-item a{
  color: #10273D;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 105.882% */
  letter-spacing: 0.18px;
  text-decoration: none;
}

.footer_text{
  color: #10273D;
  font-family: "Inter", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; /* 100% */
}

.footer_text span{
  color: #40AB91;
}

.footer_content p{
  color: rgba(16, 39, 61, 0.50);
  font-family: "Inter", sans-serif;
  font-size: 13.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px; /* 134.328% */
  letter-spacing: 0.288px;
  width: 700px;
}

.footer_content p:not(:last-child){
  margin-bottom: 33px;
}

.copyright{
  color: #10273D;
  font-family: "Inter", sans-serif;
  font-size: 13.4px;
  font-style: normal;
  font-weight: 400;
  line-height: 15.84px; /* 118.209% */
  letter-spacing: 0.288px;
}

.copyright span{
  font-weight: 700;
}